name: Cypress Tests
on: [push]

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    # Required to write the report to GitHub Pages
    permissions:
      contents: write
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          browser: chrome
          # Pass the allure environment variable here
          env: allure=true
          spec: cypress/e2e/*.cy.js

      - name: Get Allure history
        uses: actions/checkout@v4
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages

      - name: Generate Allure Report
        uses: simple-elf/allure-report-action@master
        if: always()
        with:
          allure_results: allure-results
          allure_history: allure-history
          keep_reports: 20

      - name: Deploy Allure Report to GitHub Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: allure-history

      - name: Allure Report Summary
        if: always()
        run: |
          echo "## Allure Report" >> $GITHUB_STEP_SUMMARY
          echo "The report has been deployed to GitHub Pages." >> $GITHUB_STEP_SUMMARY
          echo "[Click here to view the live report](https://deji2443.github.io/YouVerifyTask/)" >> $GITHUB_STEP_SUMMARY
          
      - name: Upload Allure Results as Artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-results
          path: allure-results
          retention-days: 7
